* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header h1 {
    width: 176px;
    height: 43px;

    font-weight: 700;
    font-size: 37px;
    line-height: 43px;

    color: #FFFFFF;
}

.TitleQuizz {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 72px;
    width: 100%;
    height: 150px;
}

.TitleQuizz img {
    position: absolute;
    width: 100%;
    height: 150px;
}

.TitleQuizz h2 {
    position: absolute;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;

    color: #FFFFFF;
}

.TelaInicial {
    margin: 0 auto;
    width: 1051px;
    margin-top: 146px;
}

.CriarQuizzes {
    width: 100%;
    height: 181px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
}

.CriarQuizzes h4 {
    width: 250px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #B9B9B9;
}

.CriarQuizzes .Button-Criar-Quiz {
    width: 151px;
    height: 40px;
    margin-top: 15px;

    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
}

.TodosQuizzes {
    margin-top: 77px;
}

.TodosQuizzes ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 12px;

    color: #000000;
}

.Quizz {
    position: relative;
    width: 340px;
    height: 181px;
    margin-bottom: 12px;
    cursor: pointer;
}

.Quizz img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.Quizz h3 {
    position: absolute;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    bottom: 15px;
    left: 15px;
    color: #FFFFFF;
}

.Questions,
.PlayerScore {
    margin: 0 auto;
    width: 759px;
    height: 676px;
    padding: 30px;
    margin-top: 140px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.Questions ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Questions ul li h5 {
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;

    margin: 7px 0 18px 0;
}

.Question {
    width: 100%;
    height: 134px;
    margin-bottom: 15px;

    background: #434CA0;
}

.Question,
.Text p {
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
}

section .PlayerScore {
    margin-top: 50px;
    height: 430px;
    margin-bottom: 30px;
}

.PlayerScore .Text {
    width: 100%;
    height: 99px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;

    background: #EC362D;
}

.PlayerScore ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.PlayerScore ul li div img {
    width: 360px;
    height: 273px;
}

.PlayerScore ul li h6 {
    width: 328px;
    height: 250px;

    font-weight: 700;
    font-size: 19px;
    line-height: 25px;

    color: #484848;
}

.FinishQuizz {
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Button {
    width: 260px;
    height: 52px;

    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFF5F4;
    background: #EC362D;
    border-radius: 15px;
}

.BackHome {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    margin-top: 15px;
    margin-bottom: 15px;

    color: #818181;
}

.Hidden {
    display: none;
}


.tela3{
    width: 100%;
    height: 100vh;
    margin: 70px auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E5E5;
}

.criaquizztitulo{
    width: 225px;
    height: 30px;  
    margin-top: 65px;
    margin-bottom: 30px;
}
.criaquizztitulo h1{
    font-size: 23px;
    font-weight: bold;
}

.criadordadosiniciais{
    width: 600px;
    height: 260px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin-bottom: 85px;
}

.criadordadosiniciais input{
    width: 565px;
    height: 45px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.titulocriador::placeholder{
  padding: 20px;
    color: #BABABA;
    font-style: italic;
    font-size: 19px;
}

.urlcriador::placeholder{
    padding: 20px;
      color: #BABABA;
      font-style: italic;
      font-size: 19px;
  }

  .qtdperguntascriador::placeholder{
    padding: 20px;
      color: #BABABA;
      font-style: italic;
      font-size: 19px;
  }

  .qtdniveiscriador::placeholder{
    padding: 20px;
      color: #BABABA;
      font-style: italic;
      font-size: 19px;
  }

  .prosseguircriaquiz{
    width: 370px;
    height: 55px;
  }

  .criaquizz1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  

@media (max-width: 1051px) {
    .TelaInicial {
        width: 700px;
        margin-top: 100px;
    }

    .TodosQuizzes {
        margin-top: 35px;
    }
}

@media (max-width: 700px) {
    .TelaInicial {
        width: 100%;
        margin-top: 100px;
    }
    
    .TodosQuizzes, .CriarQuizzes{
        margin: 0 auto;
        width: 60%;
        min-width: 340px;
    }

    .TodosQuizzes {
        margin-top: 35px;
        display: flex;
        flex-direction: column;  
    }

    .Quizz {
        margin-top: 8px;
        width: 100%;
        min-width: 340px;
        height: 210px;
    }
}